<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Electricity consumption analysis</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  <!-- Favicons -->
  <link href="/static/img/favicon.png" rel="icon">
  <link href="/static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.g/static.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/static/vendor/aos/aos.css" rel="stylesheet">
  <link href="/static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="/static/css/main.css" rel="stylesheet">

  
</head>

<body class="index-page">

  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="/static/img/logo.png" alt=""> -->
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="#hero" class="active">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#services">Story</a></li>
          <li><a href="#portfolio">Dashboard</a></li>
          <li><a href="#team">Visualizations</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

    </div>
  </header>

  <main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section accent-background">
          <img src="/static/img/hero-bg.webp" alt="" data-aos="fade-in">

      <div class="container text-center" data-aos="fade-up" data-aos-delay="100">
        <h2>WELCOME TO ENERGY INSIGHTS</h2>
        <p>ELECTRICITY CONSUMPTION ANALYSIS IN INDIA (2019 & 2020)</p>
        <a href="#about" class="btn-scroll" title="Scroll Down"><i class="bi bi-chevron-down"></i></a>
      </div>

    </section><!-- /Hero Section -->

    <!-- About Section -->
    <section id="about" class="about section">

      <div class="container">

        <div class="row gy-5">

          <div class="content col-xl-5 d-flex flex-column" data-aos="fade-up" data-aos-delay="100">
            <h3>Electricity Usage Insights & Trends</h3>
            <p>
              India's electricity demand and consumption patterns evolved significantly in 2019 and 2020. This analysis uncovers major trends across regions, sectors, and time periods.
            </p>
          </div>

          <div class="col-xl-7" data-aos="fade-up" data-aos-delay="200">
            <div class="row gy-4">

              <div class="col-md-6 icon-box position-relative">
                <h4><a href="" class="stretched-link">Consumption Overview</a></h4>
                <p>Review total electricity consumption across residential, commercial, and industrial sectors.</p>
              </div><!-- Icon-Box -->

              <div class="col-md-6 icon-box position-relative">
                <h4><a href="" class="stretched-link">Peak Load Patterns</a></h4>
                <p>Analyze daily and seasonal peak demand curves and grid response.</p>
              </div><!-- Icon-Box -->

              <div class="col-md-6 icon-box position-relative">
                <h4><a href="" class="stretched-link">Regional Comparison</a></h4>
                <p>Compare state-wise consumption to identify high and low usage areas.</p>
              </div><!-- Icon-Box -->

              <div class="col-md-6 icon-box position-relative">
                <h4><a href="" class="stretched-link">Impact of COVID-19</a></h4>
                <p>ESee how nationwide lockdowns in 2020 shifted usage patterns and reduced industrial demand.</p>
              </div><!-- Icon-Box -->

            </div>
          </div>

        </div>

      </div>

    </section><!-- /About Section -->

    <!-- Services Section -->
    <section id="services" class="services section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Story</h2>
      </div><!-- End Section Title -->
      <div class='tableauPlaceholder' id='viz1750842903854' style="display: flex; justify-content: center; align-items: center; margin:auto; height: 100%;">
        <noscript>
          <div style="display: flex; justify-content: center; align-items: center; margin-left:600px ; height: 100%;">
            <a href='#'>
          <img alt='Story on Electricity Consumption in India ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;7H&#47;7HZD6WTW7&#47;1_rss.png' style='border: none' />
        </a></noscript>
        <object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
          <param name='embed_code_version' value='3' /> <param name='path' value='shared&#47;7HZD6WTW7' />
          <param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;7H&#47;7HZD6WTW7&#47;1.png' />
          <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' />
          <param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='language' value='en-US' />
          <param name='filter' value='publish=yes' />
        </object></div>               
        <script type='text/javascript'>
        var divElement = document.getElementById('viz1750842903854');                    
        var vizElement = divElement.getElementsByTagName('object')[0];                    
        vizElement.style.width='1016px';vizElement.style.height='991px';                    
        var scriptElement = document.createElement('script');                    
        scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    
        vizElement.parentNode.insertBefore(scriptElement, vizElement);                
        </script>
    </section><!-- /Services Section -->


    <!-- Portfolio Section -->
    <section id="portfolio" class="portfolio section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Dashboard</h2>
        <p>Visualize and compare electricity consumption data across 2019 and 2020 — track trends, patterns, and anomalies in real-time through interactive charts and maps.</p>
      </div><!-- End Section Title -->
      <div class='tableauPlaceholder' id='viz1750844639761' style='position: relative'>
        <noscript>
          <a href='#'><img alt='Dashboard 1 ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;el&#47;electricityconsumption15&#47;Dashboard1&#47;1_rss.png' style='border: none' /></a>
        </noscript>
        <object class='tableauViz'  style='display:none;'>
          <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> 
          <param name='embed_code_version' value='3' /> 
          <param name='site_root' value='' /><param name='name' value='electricityconsumption15&#47;Dashboard1' />
          <param name='tabs' value='no' /><param name='toolbar' value='yes' />
          <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;el&#47;electricityconsumption15&#47;Dashboard1&#47;1.png' /> 
          <param name='animate_transition' value='yes' />
          <param name='display_static_image' value='yes' />
          <param name='display_spinner' value='yes' />
          <param name='display_overlay' value='yes' />
          <param name='display_count' value='yes' />
          <param name='language' value='en-US' />
          <param name='filter' value='publish=yes' />
        </object></div>                
        <script type='text/javascript'>                    
        var divElement = document.getElementById('viz1750844639761');                   
        var vizElement = divElement.getElementsByTagName('object')[0];                    
        if ( divElement.offsetWidth > 800 ) 
        { 
          vizElement.style.width='100%';
          vizElement.style.height=(divElement.offsetWidth*0.75)+'px';
        } 
        else if ( divElement.offsetWidth > 500 ) 
        { 
          vizElement.style.width='100%';
          vizElement.style.height=(divElement.offsetWidth*0.75)+'px';
        } 
        else 
        { 
        vizElement.style.width='100%';
        vizElement.style.height='1827px';
        }                     
        var scriptElement = document.createElement('script');                    
        scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    
        vizElement.parentNode.insertBefore(scriptElement, vizElement);                
        </script>
    </section><!-- /Portfolio Section -->
    <!-- Team Section -->
    <section id="team" class="team section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Visualizations</h2>
        <p>Explore interactive charts, bar graphs, line plots, and heatmaps that highlight monthly trends, sector-wise usage, and regional variations in electricity consumption during 2019 and 2020.</p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-5">

          <div class="col-xl-4 col-md-6 d-flex" data-aos="zoom-in" data-aos-delay="200">
            <div class="team-member">
              <div class="member-img">
                <img src="/static/img/team/2019 State Consumption.png" class="img-fluid" alt="">
              </div>
              <div class="member-info">
                 <h4>2019 State Consumption</h4>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-xl-4 col-md-6 d-flex" data-aos="zoom-in" data-aos-delay="400">
            <div class="team-member">
              <div class="member-img">
                <img src="/static/img/team/2020 State Consumption.png" class="img-fluid" alt="">
              </div>
              <div class="member-info">
                <h4>2020 State Consumption</h4>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-xl-4 col-md-6 d-flex" data-aos="zoom-in" data-aos-delay="600">
          <div class="team-member">
            <div class="member-img">
              <img src="/static/img/team/Bottom N.png" class="img-fluid" alt="">
            </div>
            <div class="member-info">
              <h4>Bottom N</h4>
            </div>
          </div>
        </div><!-- End Team Member -->

        <div class="col-xl-4 col-md-6 d-flex" data-aos="zoom-in" data-aos-delay="200">
          <div class="team-member">
            <div class="member-img">
              <img src="/static/img/team/Top N.png" class="img-fluid" alt="">
            </div>
            <div class="member-info">
              <h4>Top N</h4>
            </div>
          </div>
        </div><!-- End Team Member -->

          <div class="col-xl-4 col-md-6 d-flex" data-aos="zoom-in" data-aos-delay="400">
            <div class="team-member">
              <div class="member-img">
                <img src="/static/img/team/Total Consumption.png" class="img-fluid" alt="">
              </div>
              <div class="member-info">
                <h4>Total Consumption</h4>
              </div>
            </div>
          </div><!-- End Team Member -->

        <div class="col-xl-4 col-md-6 d-flex" data-aos="zoom-in" data-aos-delay="600">
          <div class="team-member">
            <div class="member-img">
              <img src="/static/img/team/Usage by Region.png" class="img-fluid" alt="">
            </div>
            <div class="member-info">
              <h4>Usage by Region</h4>
            </div>
          </div>
        </div><!-- End Team Member -->

        <div class="col-xl-4 col-md-6 d-flex" data-aos="zoom-in" data-aos-delay="200">
          <div class="team-member">
            <div class="member-img">
              <img src="/static/img/team/2019 Monthwise Consumption.png" class="img-fluid" alt="">
            </div>
            <div class="member-info">
              <h4>2019 Monthwise Consumption</h4>
            </div>
          </div>
        </div><!-- End Team Member -->

        <div class="col-xl-4 col-md-6 d-flex" data-aos="zoom-in" data-aos-delay="400">
          <div class="team-member">
            <div class="member-img">
              <img src="/static/img/team/2020 Monthwise Consumption.png" class="img-fluid" alt="">
            </div>
            <div class="member-info">
              <h4>2020 Monthwise Consumption</h4>
            </div>
          </div>
        </div><!-- End Team Member -->

        <div class="col-xl-4 col-md-6 d-flex" data-aos="zoom-in" data-aos-delay="600">
          <div class="team-member">
            <div class="member-img">
              <img src="/static/img/team/Total Region Consumption.png" class="img-fluid" alt="">
            </div>
            <div class="member-info">
              <h4>Total Region Consumption</h4>
            </div>
          </div>
        </div><!-- End Team Member -->

        <div class="col-xl-4 col-md-6 d-flex" data-aos="zoom-in" data-aos-delay="200">
          <div class="team-member">
            <div class="member-img">
              <img src="/static/img/team/Usage Before and During Lockdown.png" class="img-fluid" alt="">
            </div>
            <div class="member-info">
              <h4>Usage Before and During Lockdown</h4>
            </div>
          </div>
        </div><!-- End Team Member -->

        <div class="col-xl-4 col-md-6 d-flex" data-aos="zoom-in" data-aos-delay="400">
          <div class="team-member">
            <div class="member-img">
              <img src="/static/img/team/Monthwise Top Consumption.png" class="img-fluid" alt="">
            </div>
            <div class="member-info">
              <h4>Monthwise Top Consumption</h4>
            </div>
          </div>
        </div><!-- End Team Member -->

        <div class="col-xl-4 col-md-6 d-flex" data-aos="zoom-in" data-aos-delay="600">
          <div class="team-member">
            <div class="member-img">
              <img src="/static/img/team/Regionwise State Consumption.png" class="img-fluid" alt="">
            </div>
            <div class="member-info">
              <h4>Regionwise State Consumption</h4>
            </div>
          </div>
        </div><!-- End Team Member -->

        <div class="col-xl-4 col-md-6 d-flex" data-aos="zoom-in" data-aos-delay="200">
          <div class="team-member">
            <div class="member-img">
              <img src="/static/img/team/Quarterwise Usage.png" class="img-fluid" alt="">
            </div>
            <div class="member-info">
              <h4>Quarterwise Usage</h4>
            </div>
          </div>
        </div><!-- End Team Member -->

        <div class="col-xl-4 col-md-6 d-flex" data-aos="zoom-in" data-aos-delay="400">
          <div class="team-member">
            <div class="member-img">
              <img src="/static/img/team/Usage by the Year.png" class="img-fluid" alt="">
            </div>
            <div class="member-info">
              <h4>Usage by the Year</h4>
            </div>
          </div>
        </div><!-- End Team Member -->

        <div class="col-xl-4 col-md-6 d-flex" data-aos="zoom-in" data-aos-delay="600">
          <div class="team-member">
            <div class="member-img">
              <img src="/static/img/team/Metro City States.png" class="img-fluid" alt="">
            </div>
            <div class="member-info">
              <h4>Metro City States</h4>
            </div>
          </div>
        </div><!-- End Team Member -->

        <div class="col-xl-4 col-md-6 d-flex" data-aos="zoom-in" data-aos-delay="200">
          <div class="team-member">
            <div class="member-img">
              <img src="/static/img/team/Yearwise Consumption in Region.png" class="img-fluid" alt="">
            </div>
            <div class="member-info">
              <h4>Yearwise Consumption in Region</h4>
            </div>
          </div>
        </div><!-- End Team Member -->

      </div>
    </main>

  

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/vendor/php-email-form/validate.js"></script>
  <script src="/static/vendor/aos/aos.js"></script>
  <script src="/static/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="/static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/static/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
  <script src="/static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/static/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Main JS File -->
  <script src="/static/js/main.js"></script>

</body>

</html>